@charset "UTF-8";
body{
    background-color: antiquewhite;
}
.newacountname{
    text-align: center;
}
form{
    text-align: center;
    margin-top: 50px;
}
#ユーザーネーム{
    font-size: 20px;
    text-align: center;
}
#パスワード{
    font-size: 20px;
    text-align: center;
}